.cell {
  margin: 0 auto;
  display: flex;
}

.cell input {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
  font-size: 20px;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
}

.cell input:focus{
  outline: none;
  background: rgba(39, 60, 255, 0.3);
}

/* Removing arrows from number input */
.cell input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cell input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cell input[type="number"] {
  -moz-appearance: textfield;
}
